.App {
  width: fit-content;
  text-align: center;
  padding-top: 2rem;
}

.header-body {
  padding: 0 10rem;
}

/*MODESWITCH*/

.modeSwitch {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: right;
}

.modeText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #777777;
}
#lang {
  color: #4731d3;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.toggle-switch-checkbox {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 5px;
  bottom: 0;
  background-color: #4731d3;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #ffe86e;
  transition: 0.6s;
  border-radius: 50%;
}
.slider:after {
  /* Added new code */
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #ffe86e;
  transition: 0.6s;
  border-radius: 50%;
  transform: translateX(0px) translateY(-2px);
}

.toggle-switch-checkbox:checked + .slider {
  background-color: #3a3a3a;
}

.toggle-switch-checkbox:checked + .slider:before {
  transform: translateX(26px); /* transform değeri değiştirildi */
}

.toggle-switch-checkbox:checked + .slider:after {
  transform: translateX(22px) translateY(-2px);
  background-color: #3a3a3a;
}

/*HEADER*/

.header {
  padding-top: 20px;
  display: flex;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 2;
  text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: #7b61ff;
  width: 63.68px;
  height: 62px;
  background: #eeebff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  transform: matrix(0.87, 0.49, -0.51, 0.86, 0, 0);
}

.headerLinks {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
  text-align: center;
  gap: 5.5rem;
}
.headerLinks a {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #6b7280;
}

.headerLinks a:hover {
  color: #4731d3;
}

#contactLink {
  border: 1px solid #3730a3;
  padding: 8px 16px;
  border-radius: 4px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #3730a3;
}

#contactLink:hover {
  background-color: #3730a3;
  color: #fff;
}

/*HERO*/

.lineContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.introContent {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.introButtons {
  flex-wrap: wrap;
}

.lineContainer {
  display: flex;
  align-items: left;
  gap: 10px;
  justify-content: left;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #4338ca;
}
.line {
  width: 102px;
  height: 0px;
  border: 1px solid #3730a3;
}

.introContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.introText {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-right: 10rem;
}
.introContent h1 {
  font-weight: 700;
  font-size: 72px;
  color: #1f2937;
}

.introContent p {
  font-size: 18px;
  line-height: 28px;
  color: #6b7280;
  margin-top: 25px;
}

.introContent a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 12px;
  gap: 10px;
  border: 1px solid #3730a3;
  border-radius: 6px;
  width: 120px;
  cursor: pointer;
  font-size: 16px;
}
.introContent a {
  text-decoration: none;
  color: black;
}

.introImage {
  max-height: 375px;
  width: auto;
  height: auto;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  border-radius: 18px;
  flex: 1;
  filter: grayscale(90%);
}

.introButtons {
  display: flex;
  gap: 20px;
  margin-top: 5%;
}

/*SKILLS*/

.skillsContainer {
  width: 100%;
}

.skillsContainer h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  display: flex;
  margin-bottom: 3rem;

  /* or 100% */

  color: #1f2937;
  margin-top: 3rem;
}

.skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.skill {
  display: flex;
  margin-bottom: 20px;
  text-align: left;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.skillName {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;

  color: #4338ca;
}

.skillText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #6b7280;
  padding-top: 2rem;
  padding-right: 7rem;
}

/*PROFILE*/

.cizgi {
  border: 1px solid #bab2e7;
}

.profileText h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  display: flex;
  color: #1f2937;
  margin-top: 3rem;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.profileLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  margin-right: 2rem;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.profileLeft h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  color: #4338ca;
}

.profileRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
}

.profileRight h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  color: #4338ca;
}

.profileRight p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #6b7280;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 4rem;
}

.profileInfoRight {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.profileInfoLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.profileInfoLeft p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
}

.profileInfoRight p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #000000;
}

/*PROJECTS*/

.projectsContainer {
  width: 100%;
  margin-bottom: 3rem;
}

.projectsText h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  display: flex;
  color: #1f2937;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.projectItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

/*CARDS*/

.card {
  /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
  padding: 25px;
}

.card-body {
  padding: 0;
}

.list-group {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  flex-wrap: wrap;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 500;
  font-size: 16px;
}
.links a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #3730a3;
}

.links a:hover {
  font-weight: 700;
  text-decoration-line: underline;
}

/*FOOTER*/

footer h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 125%;
  color: #1f2937;
  padding-top: 5%;
  text-align: left;
}

.contactContainer {
  background: #f9f9f9;
  height: 409px;
  width: auto;
  padding: 0 10rem;
}

footer p {
  margin: 3% 0;
  display: flex;
  justify-content: baseline;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.github {
  font-weight: 500;
  font-size: 18px;
  color: #00ab6b;
  text-decoration: none;
  margin-right: 2%;
}

.linkedin {
  font-weight: 500;
  font-size: 18px;
  color: #0077b5;
  text-decoration: none;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.websites {
  display: flex;
  gap: 3rem;
}

.email {
  margin-left: 10px;
  text-decoration: none;
  color: #3730a3;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

/* TELEFON VE TABLET İÇİN STİLLER */

.mobileMenu {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* Telefona özgü stil */

@media screen and (max-width: 767px) {
  .modeSwitch {
    justify-content: center;
  }

  #modeText2 {
    display: none;
  }

  .header-body {
    padding: 0 2rem;
  }

  .headerLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerLinks a {
    font-size: 16px;
    line-height: 24px;
  }

  .introContent {
    flex-direction: column-reverse;
    align-items: center;
  }

  .introImage {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
  }

  .introText {
    margin-right: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  .introContent h1 {
    font-size: 36px;
  }

  .introContent p {
    font-size: 14px;
  }

  .introButtons {
    flex-direction: column;
    align-items: center;
  }

  .skills {
    flex-direction: column;
  }

  .skill {
    margin-bottom: 1.5rem;
  }

  .skillText {
    padding-right: 0;
  }

  .profile {
    flex-direction: column;
  }

  .profileLeft,
  .profileRight {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .profileInfo {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .profileInfoLeft,
  .profileInfoRight {
    white-space: normal;
  }

  .projectsText h1 {
    font-size: 36px;
  }

  .projectItems {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 2rem;
  }

  .contactInfo {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
}

/* Tablete özgü stil */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modeSwitch {
    justify-content: center;
  }
  #modeText2 {
    display: none;
  }
  .header-body {
    padding: 0 5rem;
  }

  .headerLinks {
    justify-content: center;
    align-items: center;
  }

  .introContent {
    flex-direction: column;
    align-items: center;
  }

  .introText {
    margin-right: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  .introImage {
    margin-top: 2rem;
    justify-content: center;
  }

  .introContent h1 {
    font-size: 48px;
  }

  .introButtons {
    flex-direction: column;
    align-items: center;
  }

  .skills {
    flex-direction: column;
  }

  .skill {
    margin-bottom: 2rem;
  }

  .skillText {
    padding-right: 0;
  }

  .profile {
    flex-direction: column;
  }

  .profileLeft,
  .profileRight {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .profileInfo {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .profileInfoLeft,
  .profileInfoRight {
    white-space: normal;
  }

  .projectsText h1 {
    font-size: 42px;
  }

  .projectItems {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 2rem;
  }
  .contactInfo {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
}

/*DARK MODE */

.dark-mode {
  background-color: #252128;
  color: #fff;
  width: fit-content;
  text-align: center;
}

.dark-mode .card {
  background-color: #252128;
  color: #fff;
}

.dark-mode .contactContainer {
  background-color: #141414;
  color: #fff;
}

.dark-mode .modeText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.1em;

  color: #d9d9d9;
}
.dark-mode #lang {
  color: #bab2e7;
}

.dark-mode .logo a {
  text-decoration: none;
  color: #8f88ff;

  background: #4731d3;
}

.dark-mode .headerLinks {
  text-align: center;
}
.dark-mode .headerLinks a {
  text-decoration: none;
  color: #6b7280;
}

.dark-mode .headerLinks a:hover {
  color: #6b7280;
}

.dark-mode #contactLink {
  border: 1px solid #3730a3;
  background-color: #ffffff;
  color: #3730a3;
}

.dark-mode #contactLink:hover {
  background-color: #ffffff;
  color: #3730a3;
}

/*DARK MODE - HERO */

.dark-mode .lineContainer {
  color: #b7aaff;
}
.dark-mode .line {
  border: 1px solid #b7aaff;
}

.dark-mode .introContent h1 {
  color: #aebccf;
}

.dark-mode .introContent p {
  color: #ffffff;
}

.dark-mode .introContent a {
  color: #e1e1ff;
}

/*DARK MODE -SKILLS */

.dark-mode .skillsContainer h1 {
  color: #aebccf;
}

.dark-mode .skillName {
  color: #b7aaff;
}

.dark-mode .skillText {
  color: #ffffff;
}

/*DARK MODE - PROFILE */

.dark-mode .profileText h1 {
  color: #aebccf;
}

.dark-mode .profileLeft h2 {
  color: #b7aaff;
}

.dark-mode .profileRight h2 {
  color: #b7aaff;
}

.dark-mode .profileRight p {
  color: #ffffff;
}

.dark-mode .profileInfoLeft p {
  color: #ffffff;
}

.dark-mode .profileInfoRight p {
  color: #ffffff;
}

/*DARK MODE - PROJECTS */

.dark-mode .projectsText h1 {
  color: #aebccf;
}

/*DARK MODE - FOOTER*/

.dark-mode footer h3 {
  color: #aebccf;
}

.dark-mode .github {
  color: #17d18b;
}

.dark-mode .linkedin {
  color: #0ba6f6;
}

.dark-mode .email {
  color: #bab2e7;
}
